.content {
    margin-bottom: 3rem;
    border: solid lightgrey 2px;
    height: 420px;
    min-width: 100%;
    display: inline-block;
    position: relative;
    min-width: 1052px;
}

.graph1 { 
    width: 350px;
    height: 350px;
    background-image: url(../images/graph1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 40px;
    right: -20px;
    border: solid lightgrey 2px;
    transform: scale(1.1);
}