.content {
    margin-bottom: 3rem;
    border: solid lightgrey 2px;
    min-width: 100%;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
}

.blogPost {
    border: solid lightgrey 2px;
    width: 25%;
    height: fit-content;
    padding: 2rem 1rem;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    align-self: center;
}

.imageClass { 
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
    margin-left: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

@media (min-width: 500px) {
    .container { 
        width: 75%;
    }
}

.blogContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: auto;
    width: 60%;
    height: 70vh;
    align-content: center;
}

.contactContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5rem;
    justify-content: center;
}


@media (max-width: 1000px) {
    .contactContainer { 
        width: 80%;
    }
    .blogContainer { 
        width: 100%;
        flex-flow: row wrap;
        height: auto;
    }
    .blogPost {
        width: 100%;
        padding: 1rem 10px;
        margin: 5px 10px;
    }
}
