.content {
    margin-bottom: 3rem;
    border: solid lightgrey 2px;
    min-width: 100%;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    font-family: serif;
}

.imageClass { 
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
    margin-left: 2rem;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

@media (min-width: 500px) {
    .container { 
        width: 75%;
    }
}