.blm {
  background-image: url(../images/blm.png);
  width: 200px;
  height: 200px;
  background-size: 100px;
  border-radius: 6px;
  margin: 10px 0px;
}

.blm2 {
  background-image: url(../images/blm.png);
  width: 200px;
  height: 200px;
  background-size: 100px;
  border-radius: 6px;
  margin: 10px 0px;
}

.blm3 {
  background-image: url(../images/blm.png);
  width: 200px;
  height: 200px;
  background-size: 100px;
  border-radius: 6px;
  margin: 10px 0px;
}

.projectsBanner {
  width: 100%;
  background-image: url(../images/swim.jpg);
  height: 55vh;
  min-height: 450px;
  background-position: center;
  margin-bottom: 3rem;
}

.researchBanner {
  width: 100%;
  background-image: url(../images/beakers.jpeg);
  height: 55vh;
  min-height: 450px;
  background-position: center;
  margin-bottom: 3rem;
}

.stickers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 50%;
  flex-wrap: wrap;
}